.App {
  text-align: center;
  font-size: 20px;
  
}

.App button {
  color:red ;
  font-size:20px;
  margin: 10px;
  padding: 10px;
}


.App p {
  background-color: #3d6dcc;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



